block header
  header 
    h1= title
    nav
      ul.navigation 
        li 
          a(href="/") Forside
        li 
          a(href="/admin") Lav en quiz
        li 
          a(href="/showquiz") Se alle quizzes
        li 
          a(href="/takequiz") Tag en quiz
